body {
    background-image: linear-gradient(165deg, #91bfec 20%, #F4F4F4 calc(20% + 2px));
}

#headImage {
    height: 300px;
    width: 300px;
}

a {
    text-decoration: none;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#textBox {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
}
#aboutMe p {
    text-align: center;
    padding: 0px 10px;
}

#aboutMe h1{
    transform: translate(-30px, -50px);
    font-size: 32px;
}

.linkCtr {
    display: flex;
    gap: 20px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

.disable {
    display: none !important;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,50%);
    max-width: 300px;
}



.cardInfo {
    display: grid;
    grid-template: .2fr 1fr / 2fr 1fr;
    align-items: center;
    gap: 10px;
}

.cardInfo h3 {
    font-size: 32px;
}

.cardInfo p {
    padding: 0px 10px;
    grid-area: 2 / 1 / 3 / 4;
}

#workBtn {
    margin-top: -20px;
    border: 1px rgb(88, 189, 202) solid;
    background-color: #91bfec;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,50%), -1px -1px 2px rgba(0,0,0,50%);
    opacity: 1;
}

#workBtn:focus,
#workBtn:hover{
    box-shadow: none;
    background-color: yellow;
    animation-name: buttonSpin;
    animation-duration: .5s;
}

#workBtn.close{
    opacity: 0;
    animation: fadeOut 1s ease;
}

#hiddenWork {
    opacity: 0;
    display: none;
}

#hiddenWork.open {
    display: flex;
    animation: fadeIn 1s 1.3s forwards;
}

a:hover,
a:focus{
    animation: scaleIncrease 4s alternate infinite ;
}

footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #91bfec;
    padding: 10px;
    text-align: center;
}

#thanks {
    font-size: 12px;
}

footer img{
    min-width: 300px;
    min-height: 300px;
}

@media ( 800px <= width <= 1250px  ) {
    body {
        background-image: linear-gradient(165deg, #91bfec 27%, #F4F4F4 calc(27% + 2px));
    }

    #aboutMe {
        display: flex;
        flex-direction: row;
        margin: 70px auto;
        background-color: white;
        max-width: 700px;
        box-shadow: 1px 1px 3px rgba(0%, 0%, 0%, 40%);
    }

    #headImage {
        transform: translate(-40px, -40px);
    }

    #aboutMe h1 {
        transform: translate(-80px, -120px);
        min-width: 220px;
    }

    #textBox{
        min-width: 400px;
        transform: translate(-250px, 10px);
    }

}



@keyframes buttonSpin {
    0%{transform: rotate(1turn);}
}

@keyframes scaleIncrease {
    0%{transform: scale(1.0);}

    100%{transform: scale(1.5);};
}

@keyframes fadeIn {
    0%{opacity: 0;}

    100%{opacity: 1;}
}

@keyframes fadeOut {
    0%{opacity: 1;};

    100%{opacity: 0;};
}
